.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.intro-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #feffff, #ffffff);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.text {
    flex: 1;
    color: rgb(7, 5, 5);
    text-align: center;
}

.text h2 {
    color: rgb(1, 1, 1);
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.contact-info {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #56b4c7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #005f99;
    transform: translateY(-3px);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }

    .intro img {
        margin-bottom: 20px;
    }

    .text {
        text-align: center;
    }
}
