header {
    text-align: center;
    padding: 20px 0; /* Reducido el padding para ocupar menos espacio vertical */
    background-color: #f0f8ff;
    border-bottom: 1px solid #ddd;
}

header h1 {
    color: black;
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 0;
    padding-top: 10px;
}
