/* Añadir estilos para el header dentro de Home.css */
.header {
    text-align: center;
    padding: 10px 0; /* Reducido el padding para ocupar menos espacio vertical */
    background-color: #f0f8ff;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    color: black;
    font-size: 2em; /* Reducido tamaño */
    margin: 0;
}

.header p {
    font-size: 1em; /* Reducido tamaño */
    margin: 0;
    padding-top: 5px; /* Reducido padding-top */
}

.home-container {
    padding: 20px;
    max-width: 1000px; /* Reducido el ancho máximo */
    margin: 20px auto; /* Ajustado margen */
    background-color: #f0f8ff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.intro-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Reducido el margen inferior */
    text-align: left;
}

.intro-text {
    flex: 2;
    max-width: 500px; /* Ajustado max-width */
    text-align: left;
}

.intro-text h1 {
    color: #110d0d;
    font-size: 28px; /* Reducido tamaño */
    margin-bottom: 20px;
    text-align: center;
}

.intro-text p {
    font-size: 16px; /* Reducido tamaño */
    color: #555;
    margin-bottom: 10px;
}

.intro-image {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 20px;
}

.intro-image img {
    width: 120px; /* Reducido tamaño */
    height: auto;
}

.main-content {
    text-align: center;
    padding: 20px 20px; /* Reducido padding superior */
}

.main-content h2 {
    color: #333;
    font-size: 24px; /* Reducido tamaño */
    margin-bottom: 20px; /* Reducido margen inferior */
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Reducido el espacio entre botones */
}

.home-button {
    background-color: #56b4c7;
    color: #ffffff;
    text-decoration: none;
    padding: 15px; /* Ajustado padding */
    border-radius: 10px;
    width: 200px; /* Ajustado ancho */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.home-button:hover {
    background-color: #005f99;
    transform: translateY(-5px);
}

.home-button h3 {
    margin-top: 0;
    font-size: 20px; /* Reducido tamaño */
}

.home-button p {
    margin: 10px 0 0;
    font-size: 14px; /* Reducido tamaño */
}
