/* home.css */

/* Fondo con degradado */
body {
    background: linear-gradient(to right, #ffeb3b, #ffc107);
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.home-content {
    padding: 40px;
    text-align: center;
    background-color: #ffffff;
}

.intro {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro-text {
    text-align: left;
}

.intro-text h2 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
}

.intro-text p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.intro-text ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.intro-text ul li {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
}

.section-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 0;
}

.button {
    background-color: #f0db68;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}

.button:hover {
    background-color: #ffc107;
    transform: translateY(-5px);
}

.button h3 {
    margin-top: 0;
}

.button p {
    margin: 10px 0 0;
    font-size: 16px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.logos img {
    width: 150px;
    height: auto;
}

h2 {
    color: #9f7474;
    font-size: 28px;
    margin-top: 0;
}

p {
    color: #000000;
    font-size: 18px;
    margin: 10px 0;
}
