nav {
    display: flex;
    justify-content: center;
    background-color: #005f73;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A침adido sombra */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s; /* A침adida transici칩n para hover */
}

nav ul li a:hover {
    background-color: #052d35;
    transform: translateY(-2px); /* A침adido efecto de hover */
    border-radius: 5px;
}
