/* proyectos.css */

#proyectos {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.project {
    display: flex;
    margin-bottom: 40px;
}

.project img {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    margin-right: 20px;
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
}

.project-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center; /* Centra el texto horizontalmente */
}

.project-info p {
    font-size: 16px;
    line-height: 1.6;
}
