#proyectos {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Reducido el espacio entre proyectos */
}

.project {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to right, #ffffff, #ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    max-width: 200px; /* Reducido el tamaño máximo de la imagen */
    height: auto;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.project-info h3 {
    font-size: 20px; /* Reducido tamaño */
    margin-bottom: 10px;
    text-align: center;
}

.project-info p {
    font-size: 14px; /* Reducido tamaño */
    line-height: 1.6;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .project {
        flex-direction: column;
    }

    .project img {
        max-width: 100%;
        border-radius: 10px 10px 0 0;
    }
}
